/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    /* Fondo blanco */
    color: #333333;
    /* Color de texto negro */
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    /* Fondo gris claro */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
    color: #333;
    /* Azul */
    text-align: center;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
}

/* Contenedor del input */
.input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container i {
    color: #1E90FF;
    /* Azul */
    margin-left: 10px;
}

.input-container input {
    padding: 10px;
    border: none;
    font-size: 16px;
    color: #333;
    width: 100%;
    border-radius: 5px;
}

/* Botón de envío */
button {
    padding: 10px 20px;
    background-color: #FF6347;
    /* Rojo tomate */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #FF4500;
    /* Rojo oscuro */
}

/* Mensajes de éxito o error */
.message {
    background-color: #ffcc00;
    /* Amarillo para los mensajes */
    color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}